<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.good.tyotto.nknock.api.repository.mybatis.KnockListMapper">

    <resultMap id="KnockList" type="com.good.tyotto.nknock.api.domain.KnockList">
        <id property="knockListId" column="KNOCKLIST_ID"/>
        <result property="knockListName" column="KNOCKLIST_NAME"/>
        <result property="overview" column="OVERVIEW"/>
        <result property="fireId" column="FIRE_ID"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="tagId" column="TAG_ID"/>
        <result property="tagName" column="TAG_NAME"/>
        <result property="userName" column="USER_NAME"/>
    </resultMap>

    <resultMap id="Tag" type="com.good.tyotto.nknock.api.domain.Tag">
        <id property="tagId" column="TAG_ID"/>
        <result property="tagName" column="TAG_NAME"/>
    </resultMap>

    <resultMap id="User" type="com.good.tyotto.nknock.api.domain.User">
        <id property="userId" column="USER_ID"/>
        <result property="email" column="EMAIL"/>
        <result property="fireId" column="FIRE_ID"/>
        <result property="userName" column="USER_NAME"/>
        <result property="updatedAt" column="UPDATED_AT"/>
        <result property="deleteFlag" column="DELETE_FLAG"/>
        <result property="adminFlag" column="ADMIN_FLAG"/>
    </resultMap>


    <select id="getAll" resultMap="KnockList">
        SELECT
        K.KNOCKLIST_ID,
        K.KNOCKLIST_NAME,
        K.OVERVIEW,
        K.UPDATED_AT,
        T.TAG_NAME,
        U.USER_NAME
        FROM
        KNOCKLIST AS K
        JOIN TAG AS T
        ON K.TAG_ID = T.TAG_ID
        JOIN USER AS U
        ON K.FIRE_ID = U.FIRE_ID
        <where>
            K.DELETE_FLAG = 0
        </where>
        ORDER BY UPDATED_AT DESC
    </select>

    <select id="get" resultMap="KnockList">
        SELECT
        K.KNOCKLIST_ID,
        K.KNOCKLIST_NAME,
        K.OVERVIEW,
        K.UPDATED_AT,
        T.TAG_NAME,
        U.USER_NAME
        FROM KNOCKLIST AS K
        JOIN TAG AS T
        ON K.TAG_ID = T.TAG_ID
        JOIN USER AS U
        ON K.FIRE_ID = U.FIRE_ID
        <where>
            K.DELETE_FLAG = 0
            <if test="fireId != null">
                AND K.FIRE_ID = #{fireId}
            </if>
            <if test="tagId != 0">
                AND K.TAG_ID = #{tagId}
            </if>
            <if test="knockListName != null">
                AND K.KNOCKLIST_NAME LIKE CONCAT('%', #{knockListName}, '%')
            </if>
        </where>
        ORDER BY K.UPDATED_AT DESC
    </select>

    <select id="getTag" resultMap="Tag">
        SELECT
        *
        FROM
        TAG
    </select>

    <select id="getLatestId" resultMap="int">
        SELECT
        MAX(KNOCKLIST_ID)
        FROM
        KNOCKLIST
    </select>

    <insert id="add" parameterType="com.good.tyotto.nknock.api.domain.KnockList" useGeneratedKeys="true" keyProperty="knockListId">
        <include refid="timestampVariable"/>
        INSERT INTO
        KNOCKLIST
        (
        KNOCKLIST_NAME,
        OVERVIEW,
        FIRE_ID,
        UPDATED_AT,
        TAG_ID
        )
        VALUES
        (
        #{knockListName},
        #{overview},
        #{fireId},
        #{sysdate},
        #{tagId}
        )


    </insert>

    <update id="update" parameterType="com.good.tyotto.nknock.api.domain.KnockList">
        <include refid="timestampVariable"/>
        UPDATE KNOCKLIST
        SET
        KNOCKLIST_NAME = #{knockListName},
        OVERVIEW = #{overview},
        UPDATED_AT = #{sysdate},
        TAG_ID = #{tagId}
        <where>
            DELETE_FLAG = 0
            AND
            KNOCKLIST_ID = #{knockListId}
        </where>
    </update>

    <update id="delete" parameterType="int">
        UPDATE KNOCKLIST
        SET DELETE_FLAG = 1
        WHERE
        KNOCKLIST_ID = #{knockListId}
    </update>

    <!-- sysdateをbindする共通Util -->
    <sql id="timestampVariable">
        <bind name="sysdate" value="@java.time.LocalDateTime@now()"/>
    </sql>
</mapper>