<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.good.tyotto.nknock.api.repository.mybatis.KnockMapper">

    <resultMap id="Knock" type="com.good.tyotto.nknock.api.domain.Knock">
        <id property="knockId" column="KNOCK_ID"/>
        <result property="quiz" column="QUIZ"/>
        <result property="answer" column="ANSWER"/>
        <result property="knockListId" column="KNOCKLIST_ID"/>
    </resultMap>

    <select id="find" resultMap="Knock">
        SELECT
        KNOCK_ID,
        QUIZ,
        ANSWER
        FROM KNOCK
    </select>

    <insert id="add" parameterType="com.good.tyotto.nknock.api.domain.Knock">
        INSERT INTO
        KNOCK
        (
        QUIZ,
        ANSWER,
        KNOCKLIST_ID
        )
        VALUES
        (
        #{quiz},
        #{answer},
        #{knockListId}
        )
    </insert>

    <update id="update" parameterType="com.good.tyotto.nknock.api.domain.Knock">
        UPDATE
        KNOCK
        SET
        QUIZ = #{quiz},
        ANSWER = #{answer}
        <where>
            KNOCK_ID = #{knockId}
            AND
            KNOCKLIST_ID = #{knockListId}
        </where>
    </update>

    <delete id="delete" parameterType="int">
        DELETE
        FROM
        KNOCK
        <where>
            KNOCKID = #{knockId}
            <if test="knockListId != null">
                AND KNOCKLIST_ID = #{knockListId}
            </if>
        </where>
    </delete>

</mapper>